.chat-main  
  .main-header 
    .left-box
      %h3.group
        = @group.name
      %ul.main-header__left-box__member-list
        Member:
        %li.group_users
          - @group.users.each do |user|
            = user.name
  
    .edit-btn
      = link_to edit_group_path(@group) do
        Edit
        
  .messages
    =render @messages 

      
  .form
    = form_for [ @group, @message] do |f|
      .input-box
        = f.text_field :content, placeholder: '  type a message'
        .image
          = f.label :image, class: 'new_message__image' do
            = icon('fas', 'image', class: 'input-box')    
            = f.file_field :image, class: 'hidden' 
      = f.submit 'Send', class: 'submit_btn'