.chat-main  
  .main-header 
    .left-box test
    - current_user.groups.each do |group|
      .current-group masa
     
    .edit-btn
      = link_to "#" do
        .h1 EDIT
       
  .messages
    = render @messages 
    .message
      .upper-info
        .talker
        .date
      .text
      
  .form
    = form_for [ @group, @message] do |f|
      .input-box
        = f.text_field :content, placeholder: 'type a message'
        .image
          = f.label :image, class: 'new_message__image' do
            = icon('fas', 'image', class: 'input-box')    
            = f.file_field :image, class: 'hidden' 
      = f.submit 'Send', class: 'submit_btn'