.side-bar
  .side-bar__user-name
    .top-items
      .top-items_name
        = current_user.name
      .top-items_icons
        = link_to new_group_path do
          = icon('far', 'edit', class: 'icon1')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon2')

  .groups
    - current_user.groups.each do |grou|
      .group
        = link_to group_messages_path(grou) do
          .group__name
            = grou.name
          .group__message
            = grou.show_last_message
             
      
        