.side-bar
  .side-bar__user-name
    .top-items
      .top-items_name
        = current_user.name
      .top-items_icons
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon1')
          = icon('far', 'edit', class: 'icon2')
    
  .groups
    = link_to "#", class: "group" do
      .group__group-name
        test
      .group__latest-message
        まだメッセージはありません 